@layer components {
  .avatar {
    position: relative;
    display: grid;
    place-items: center;
    height: calc(var(--spacing) * 8);      
    width: calc(var(--spacing) * 8);
    flex-shrink: 0;
    border-radius: var(--radius-10xl);
    user-select: none;
    background-color: var(--background);
    background-image: linear-gradient(var(--muted), var(--muted));
    isolation: isolate;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--radius-10xl);
      border: 1px solid var(--border);
      pointer-events: none;
      z-index: 3;
    }
  }

  .avatar-image {
    grid-area: 1 / 1;
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    border-radius: var(--radius-10xl);
    object-fit: cover;
    z-index: 2;
  }

  .avatar-fallback {
    grid-area: 1 / 1;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-10xl);
    background: transparent;
    font-size: 0.875rem;   
    color: var(--muted-foreground);
    z-index: 1;
  }

  .avatar-badge {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-10xl);
    background-color: var(--primary);
    color: var(--primary-foreground);

    box-shadow: 0 0 0 2px var(--background);
    user-select: none;

    width: 0.625rem;
    height: 0.625rem;

    & svg, & i {
      width: 0.5rem;
      height: 0.5rem;
      display: block;
      flex-shrink: 0;
    }
  }

  .avatar-group {
    display: flex;

    & .avatar {
      box-shadow: 0 0 0 2px var(--background);
    }

    & > *:not(:first-child) {
      margin-left: -0.5rem;
    }

    & > *:nth-child(1) { z-index: 10; }
    & > *:nth-child(2) { z-index: 9; }
    & > *:nth-child(3) { z-index: 8; }
    & > *:nth-child(4) { z-index: 7; }
    & > *:nth-child(5) { z-index: 6; }
    & > *:nth-child(6) { z-index: 5; }
    & > *:nth-child(7) { z-index: 4; }
    & > *:nth-child(8) { z-index: 3; }
    & > *:nth-child(9) { z-index: 2; }
    & > *:nth-child(10) { z-index: 1; }
  }

  .avatar-group-count {
    position: relative;
    display: flex;
    width: calc(var(--spacing) * 8);          
    height: calc(var(--spacing) * 8);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-10xl);
    background-color: var(--background);
    background-image: linear-gradient(var(--muted), var(--muted));
    isolation: isolate;
    font-size: 0.875rem;
    color: var(--muted-foreground);

    box-shadow: 0 0 0 2px var(--background);
    user-select: none;

    & svg, & i {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      flex-shrink: 0;
    }
  }
}