@layer components {
  .btn-group {
    display: inline-flex;
    width: fit-content;
    align-items: stretch;
    isolation: isolate;
    border-radius: var(--radius-lg);
    border: 1px solid var(--border);
    overflow: hidden;

    &.radius-full {
      border-radius: var(--radius-10xl);
    }

    & > .btn,
    & > .input,
    & > .select,
    & > .select > button {
      position: relative;
      border: none;
      border-radius: 0;
      flex: 1 1 auto;
      background-clip: padding-box;

      &:hover,
      &:active {
        z-index: 10;
      }

      &:focus-visible {
        z-index: 20;
        transition: none;
      }
    }

    & > .btn:not(.btn-primary):not(.btn-secondary):not(.btn-destructive):not(.btn-ghost) {
      background-color: color-mix(in oklch, var(--foreground) 1%, transparent);
      color: var(--foreground);

      @media (hover: hover) {
        &:hover {
          background-color: color-mix(in oklch, var(--foreground) 2%, transparent);
          color: var(--foreground);
          z-index: 10;
        }
      }

      &:active {
        background-color: color-mix(in oklch, var(--foreground) 2%, transparent);
        color: var(--foreground);
      }
    }

    &:not([aria-orientation="vertical"]) {
      flex-direction: row;

      & > :not(:last-child) {
        border-right: 1px solid var(--border);
      }
    }

    &[aria-orientation="vertical"] {
      flex-direction: column;

      & > :not(:last-child) {
        border-bottom: 1px solid var(--border);
      }
    }
  }
}