@layer components {
  .input {
    display: flex;
    height: 2rem;
    width: 100%;
    min-width: 0;
    border-radius: var(--radius-lg);
    border: 1px solid var(--input);
    background-color: color-mix(in oklch, var(--foreground) 1%, transparent);
    padding-inline: 0.625rem;
    padding-block: 0.25rem;
    font-size: 1rem;
    color: var(--foreground);
    transition: color var(--duration-normal) var(--ease-default), background-color var(--duration-normal) var(--ease-default), border-color var(--duration-normal) var(--ease-default), opacity var(--duration-normal) var(--ease-default);
    outline: none;

    @media (hover: hover) {
      &:hover {
        background-color: color-mix(in oklch, var(--foreground) 2%, transparent);
      }
    }

    @media (min-width: 768px) {
      font-size: 0.875rem;
    }

    &:focus-visible {
      border-color: var(--ring);
      transition: none;
    }

    &::placeholder {
      color: var(--muted-foreground);
    }

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;

      background-color: color-mix(in oklch, var(--input) 50%, transparent);
      opacity: 0.5;
    }

    &[aria-invalid="true"] {
      border-color: var(--destructive);
    }
  }
}